/* .hidden {
  display: none;
}
.success {
  background-color: green;
}
.error {
  background-color: red;
}
.warning {
  background-color: yellow;
} */

.js-landing {
  background-color: teal;
}
